<launch>

  <!-- Map server -->
  <arg name="map_file" default="/home/shaunak/tbot_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Move base -->
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/kinect_costmap_params.yaml"/>
  <arg name="odom_topic" default="odometry/filtered"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
  </include>

</launch>
